# Core dependencies
streamlit==1.31.1
pandas==2.2.1
numpy==1.26.4
joblib==1.3.2
scikit-learn==1.4.2
matplotlib==3.8.3
seaborn==0.13.2
xgboost==2.0.3

# Visualization libraries
plotly==5.20.0

# Optional but recommended for performance
pyarrow==15.0.2
